@import url('https://fonts.googleapis.com/css?family=Nunito');

.theme-bg {
    background: #2196f3;
}
.theme-text {
    color: #2196f3;
}
.dog-dropdown-wrapper .single-dog.active {
    color: #2196f3;
}
.icon {
    height: 40px;
    width: 40px;
}

.site-title, .primary-font {
    font-family: 'Nunito', sans-serif;
}
.panel {
    border-radius: 10px;
}
.dog-dropdown-menu-icon.active {
    /*background: #464950;*/
    border-radius: 999px;
}
.dog-dropdown-wrapper {
    display: none;
    position: absolute;
    right: 0;
    top: 90%;
    width: 400px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.dog-dropdown-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.dog-dropdown:hover > .dog-dropdown-wrapper {
    display: block;
}